<!DOCTYPE html>
<html>
<head>
	<title>login form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="container" >
		<br><h1 class="text-center" style=" color: green;">LOGIN HERE</h1><br>
		<div class="row">
			<div class="card mx-auto" style="width: 300px">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png" style="height: 250px; ">
				<div class="card-body">
					<form>
						<div class="form-group">
							<label>USERNAME</label>
							<input type="text" name="" class="form-control" placeholder="enter username">
							
						</div>
						<div class="form-group">
							<label>PASSWORD</label>
			<input type="password" name="" class="form-control" placeholder="enter password">
			<br>
			<center>
			<input type="submit" name="" style="background-color: green;"></center>
							
						</div>
					</form>
					
				</div>
				
			</div>
			
		</div>
	</div>
		
	</div>


</body>
</html>